body{
    background-color:grey;
}

table{ 
    display:inline-table; margin:auto; 
    width:auto; height:auto;
}

tr{
    display:inline-table; margin:auto; 
    border:solid; color:darkblue; border-width:8px;
    background:#dddddd;  width:100%; height:30px;
}

.spec1{
    margin: auto;
    background: lightblue;
    width: 66%;
}
            
.spec2{
    margin: 20px 0px 0 0px;
    background: lightblue;
    width: 66%;
}

td{
    text-align:right;
    image-orientation: left;
}

div{
    text-align:right; bottom;
}

caption{
    text-align:center;
    text-decoration-line: underline;
    color:darkblue;
    font-size:18px;
    
}
